:root {
    font-family: 'Pixelify Sans', sans-serif;
    --bg-color: #FFE3EC; /* Default background color for light mode */
    --text-color: cyan;   /* Default text color for light mode */
	--button-color: cyan;
	--button-text: #FFE3EC;
  }

body {
    /* background-image: url('images/testBackground2.png'); */
	background-color: #c4915e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    
    /* /* background: var(--bg-color); */
	font-family: 'Pixelify Sans', sans-serif;
}

.container-class {
	margin-top: 7rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Pixelify Sans', sans-serif;
    /* background-color: rgba(255, 255, 255, .5)  */
}

h4 {
    font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Pixelify Sans', sans-serif;
	position: absolute;
	bottom: 0;
	left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Adjust for centering */
}
/*loader*/
#preloader {
    background: var(--bg-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    aspect-ratio: 1;
    z-index: 100;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .loading {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 0;
    animation: load 2s infinite steps(10), rotate 4s infinite linear;
  }
  
  @keyframes load {
    to { object-position: 100% 0; }
  }
  
  @keyframes rotate {
    to { rotate: -360deg; }
  }

/*buttons*/
  button {
	margin: 20px;
  }
  .custom-btn {
	width: 160px;
	height: 60px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Pixelify Sans', sans-serif;
	font-weight: 50;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	justify-content: center;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
  }

  .align-center {
	display: flex;
	justify-content: center;
  }

/* 7 */
.btn-7 {
	background: linear-gradient(0deg, var(--button-color), 0%, var(--button-color) 100%);
	color: black;
	line-height: 62px;
	font-size: 20px;
	padding: 0;
	border: none;
}
	.btn-7 span {
	  position: relative;
	  display: block;
	  width: 100%;
	  height: 100%;
	}
	.btn-7:before,
	.btn-7:after {
	  position: absolute;
	  content: "";
	  right: 0;
	  bottom: 0;
	  background: var(--button-color);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
	  transition: all 0.3s ease;
	}
	.btn-7:before{
	   height: 0%;
	   width: 2px;
	}
	.btn-7:after {
	  width: 0%;
	  height: 2px;
	}
	.btn-7:hover{
	  color: var(--button-color);
	  background: transparent;
	}
	.btn-7:hover:before {
	  height: 100%;
	}
	.btn-7:hover:after {
	  width: 100%;
	}
	.btn-7 span:before,
	.btn-7 span:after {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 0;
	  background: var(--button-color);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
	  transition: all 0.3s ease;
	}
	.btn-7 span:before {
	  width: 2px;
	  height: 0%;
	}
	.btn-7 span:after {
	  height: 2px;
	  width: 0%;
	}
	.btn-7 span:hover:before {
	  height: 100%;
	}
	.btn-7 span:hover:after {
	  width: 100%;
	}
	
	/* .answer--yes {
		background-image: url('images/transparent-yippee.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
  		background-position: center;
		background-size: 800px;
		position: fixed;
		z-index: 9;
		visibility: hidden;
		opacity: 0;
		transition: opacity .5s ease-in-out;
	} */

    .answer--yes {
		/* background-image: url('images/testImageNYC.jpeg'); */
        /* background-image: url('images/testBackground.png'); */
		background-repeat: no-repeat;
		background-attachment: fixed;
  		background-position: center;
		background-size: cover;
		position: fixed;
		z-index: 9;
		visibility: hidden;
		opacity: 0.5;
		transition: opacity .5s ease-in-out;
	}

	.hide-buttons {
		display: none;
	}

	.yayHidden {
		position: absolute;
		/* visibility: hidden; */
		margin-top: 120px;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index:10;
	}

	.move-left {
		margin-right: 220px;
		transition: none;
	}
	
	  @media only screen and (max-width: 600px) {
		.answer--yes {
			background-size: 600px;
		}
	  }